
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 70px auto 0 auto;
  border-radius: 4px;
  transition: 1s;

}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1140px;
  height: 400px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 0% 1% 5%;
  width: auto;
  height: 10px;
  background: #2a2a2a;
  color: black;
  text-decoration: none;
  font-weight: 1000;
  font-size: 40px;
  opacity: 0.3;
  cursor: pointer;
}
a.control_prev:hover, a.control_next:hover {
  opacity: 0.5;
  color: grey;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 1px 2px 2px 0;
  top: 170px;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: auto auto;
  width: 1500px;
  font-size: 18px;
}
.conten{
	z-index: 1;
	top: 430px;
	color: black;
	background-color: black;
	opacity: 0.6;
	width: 1140px;
	height: 100px;
	left: 500px;
	position: absolute;
}
.conten p{
	font-size: 20px;
	position: absolute;
	opacity: 1;
	color: white;
	text-align: left;
	top:305px;
	z-index: 1;
}
